@import url('./variables.css');

@media screen and (max-width: 968px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 15%;
        left: -100%;
        width: 150px;
        background-color: var(--color_dark_logo);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 998;
    }

    .nav-links.active {
        left: 0;
    }

    nav {
        position: relative;
    }
}