:root {
    --color_clear: #FDFDFF; 
    --color_dark: #000000;
    --color_dark_logo: #2b3135;
    --color_mid_logo: #0000FF;
    --color_light_logo: #FFFB00;
    --color_other_side: #A30015;
    --color_dark_shadow: #000000b3;
    --color_light_shadow: #00000080;
  }
  